<html>
<div>
    <div>
        ID:<input id="uid" />
    </div>
    <input type="button" onclick="login()" value="登录" />



</div>
<script>
    /** @var Websocket ws **/
    var ws;
    var login = function () {
        if (!ws || ws.readyState == 3) {
            ws = new WebSocket("ws://localhost:8080/ws?accessToken=whatthyf");

            ws.onmessage = function (evt) {
                if (evt.data) {
                    console.log(evt.data)
                }
            }

            ws.onerror = function () {
                console.log("error")
            }
            ws.onclose = function () {
                console.log("close")
            }
        }
        if (ws.readyState == 1) {
            ws.send("hello?")
        }
        console.log(ws)
    }



</script>

</html>